
#search_results
  #file-manager
    %ul.manager
      %li
        .title 
          There are 
          #{@size} 
          results:
  - @jobs.each do |job|
    #file-manager
      %ul.manager
        %li
          %span.title
            = link_to job[:title], detail_path(job), :target => '_self'
          %span.date= content_tag(:td, job.updated_at.strftime('%Y-%m-%d'), :class => 'normal')
          .clear
          .company
            By 
            = job[:companyname]
          .desc
            =job.descp[0,181]+"..."
          .city#Raleway_font
            At 
            = job[:state]
= paginate @jobs

